[Desktop Entry]
Type=Application
Name=Local Reader No GPU
Comment=OCR accessibile e sintesi vocale locale
Exec=AppRun
Icon=local-reader-no-gpu
Terminal=true
Categories=Utility;Accessibility;
StartupNotify=true
