[Desktop Entry]
Type=Application
Name=Local Accessibility Studio
Comment=OCR accessibile e sintesi vocale locale
Exec=AppRun
Icon=local-accessibility-studio
Terminal=true
Categories=Utility;Accessibility;
StartupNotify=true
